/* Theme Dark*/
.theme-dark {
  --bg-background-primary: #202233;
  --bg-background-secondary: #23283d;
  --bg-background-tertiary: #e2e8f6;
}

.theme-dark p,
.theme-dark footer a {
  color: #d8d7d6;
}
.theme-dark footer a:hover {
  color: #fff;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4 {
  color: #fbf4e0;
}

.theme-dark .card {
  background-color: #3b425e;
}

.theme-dark .header {
  color: #fbf4e0;
}
